body {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #fdfdfd;
}

.Datos {
  position: fixed;
  left: 0;
  width: 250px;
  padding: 1rem;
  list-style-type: none;
}

.Portada {
  position: fixed;
  left: 0;
  top: 350px;
  max-width: 250px;
  display: block;
  height: auto;
}

.Datos li {
  margin-bottom: 0.5rem;
}

.Contenido {
  column-count: 2;
  column-gap: 2rem;
  text-align: justify;
}