body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fdfdfd;
}

.Datos {
  position: fixed;
  left: 0;
  width: 250px;
  padding: 1rem;
  list-style-type: none;
}

.Datos li {
  margin-bottom: 0.5rem;
}

.Contenido {
  column-count: 2;
  column-gap: 2rem; /* espacio entre columnas */
  text-align: justify;
}